<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1046936746338-uapldinlsj5a94kbbadfaknnfprjmpuv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1046936746338-uapldinlsj5a94kbbadfaknnfprjmpuv</string>
	<key>API_KEY</key>
	<string>AIzaSyCfjK4f-VNMi3nctGBVExcVzo95C9aeLhk</string>
	<key>GCM_SENDER_ID</key>
	<string>1046936746338</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mahmoudmohamed.Swat</string>
	<key>PROJECT_ID</key>
	<string>swatsystem-2ada0</string>
	<key>STORAGE_BUCKET</key>
	<string>swatsystem-2ada0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1046936746338:ios:0ae6135d4c4cda6c72943b</string>
	<key>DATABASE_URL</key>
	<string>https://swatsystem-2ada0.firebaseio.com</string>
</dict>
</plist>